{% include 'product-content.zipifypages', contentprt: 'header' %}{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}{% include 'amazon-product-reviews' with 'product' %}


<script>
       var _rmData = _rmData || [];
       _rmData.push(['productView', {
         productId: {{product.id|json}},
         productCategoriesIds: {{product.collections|map:'id'|json}},
         productCategories: {{product.collections|map:'title'|json}}
       }]);
</script>

<script type="text/javascript"> var sa_products_count = 3; var sa_date_format = "F j, Y"; var sa_product = "{{product.id}}"; (function(w,d,t,f,o,s,a){ o = "shopperapproved"; if (!w[o]) { w[o] = function() { (w[o].arg = w[o].arg || []).push(arguments) }; s=d.createElement(t), a=d.getElementsByTagName(t)[0];s.async=1;s.src=f;a.parentNode.insertBefore(s,a)} })(window,document,"script","//shopperapproved.com/product/33986/"+sa_product+".js"); </script> <div id="shopper_review_page"><div id="review_header"></div><div id="product_page"></div><div id="review_image"><a href="https://shopperapproved.com/reviews/lionparts.com/" onclick="var nonwin=navigator.appName!="Microsoft Internet Explorer"?"yes":"no"; var certheight=screen.availHeight-90; window.open(this.href,"shopperapproved","location="+nonwin+",scrollbars=yes,width=620,height="+certheight+",menubar=no,toolbar=no"); return false;" target="_blank" rel="nofollow"></a></div></div>

{% render 'questions-answers' %}

<br>
<br>
<br>

<div class="searchanise-recommendations" id="4O4R2W9D4U6M7X7"></div>
<!-- Shopper Approved Product reviews - sections/product-template -->
<div id="shopper_review_page"><div id="review_header"></div><div id="product_page"></div><div id="review_image"><a href="https://www.shopperapproved.com/reviews/lionparts.com/" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; var certheight=screen.availHeight-90; window.open(this.href,'shopperapproved','location='+nonwin+',scrollbars=yes,width=620,height='+certheight+',menubar=no,toolbar=no'); return false;" target="_blank" rel="nofollow"></a></div></div>
<!-- END Shopper Approved Product reviews - sections/product-template -->
<div class="reputon-google-reviews-widget" id="09e744f0-340e-11eb-879a-8f810ba6fc71" ></div>

<!--  -->

{% include 'product-content.zipifypages', contentprt: 'footer' %}

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>{% include 'wiser_recent_related' %}